/* css初始化 */
*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
/* 正文部分 */
.Tbox{
    width: 640px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.Tbox:first-child{
    position: fixed;
    width: 100%;
}
/* 头部导航 */
.Tbox>header{
   height: 44px;
   width: 100%;
   padding: 0 15px;
   background: #ef1333;
   display: flex;
   align-items: center;
}
.Tbox>header>a.left-address{
    margin-right: 15px;
    color: #ffffff;
}
.Tbox>header>input.middle-form{
   flex: 1;
   box-sizing: border-box;
   height: 28px;
   border-radius: 8px;
   border: none;
}
.Tbox>header>a.right-message{
    margin-left: 15px;
    color: #ffffff;
}
/* 图片轮播 */
section>div.imgholder{
    height: 260px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
section>div.imgholder>div.imgBox{
    height: 100%;
    width: 100%;
}
section>div.imgholder>div.imgBox>div.imgcontent{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
}
section>div.imgholder>div.imgBox>div.active{
    display: block;
}
section>div.imgholder>div.imgBox>div.imgcontent>img{
    width: 100%;
    height: 100%;
}
/* 控制图片切换的圆点 */
section>div.imgholder>div.imgCircle{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
section>div.imgholder>div.imgCircle>span{
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #9aa499;
    cursor: pointer;
    margin-left: 8px;
}
section>div.imgholder>div.imgCircle>span.active{
    background: #ffffff;
}
/* 正文内容菜单部分 */
section>div.content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    background: #ffffff;
}
section>div.content>div{
    width: 25%;
    height: 120px;
    text-align: center;
    margin: 10px 0;
}
section>div.content>div>span{
    display: block;
    margin-top: 7px;
}
section>div.content>div>img{
    border-radius: 50%;
}

/* 精品课程的导航条 */
section>div.nav{
    height: 40px;
    background: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
section>div.nav>span:nth-child(1){
    color: #999;
    font-weight: bold;
}
section>div.nav>span:nth-child(2){
    color: red;
    font-weight: bold;
}

/* 正文内容 */
section>div.items{
    background: #ffffff;
    padding: 0 30px;
    margin-bottom: 54px;
}
section>div.items>div.item{
    position: relative;
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #cccccc;
}
section>div.items>div.item:last-child{
    border: none;
}
section>div.items>div.item>div.item_left>img{
    width: 150px;
    height: 80px;
}
section>div.items>div.item>div.item_center{
   padding-left: 20px;
}
.item_center p:nth-child(1){
	font-size: 18px;
}
.item_center p:nth-child(2){
	color: #999;
}
.item_center p:nth-child(3){
	color: #999;
}
.item_center p:nth-child(3) i{
	color: #33b433;
	margin-right: 5px;
}
.item_center p:nth-child(4) i{
	margin-right: 5px;
}
.item_center p:nth-child(4){
	color: #999;
}
.item_center p:nth-child(5){
	color: #999;
}
.item_right{
	position: absolute;
    right: 50px;
    bottom: 35px;
	color:#c9394a;
}
.item_right span{
	font-size: 60px;
}
.item_right em{
    font-size: 14px;
	font-style: normal;
}

/* 页脚部分 */
footer{
    position: fixed;
    bottom: 0;
    height: 54px;
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #ffffff;;
    border-top: 1px solid #cccccc;
}
footer>div{
    flex: 1;
}
footer>div.active{
    color: red;
}
footer>div>a{
    display: block;
}
footer>div>a.active{
    color: red;
}
